QFrame {
    background-color: #ffffff;
    border: 1px solid rgba(148, 163, 184, 180);
    border-radius: 12px;
    padding: 0px;
    color: #28282B;
    font: 500 9pt "Google Sans";
}
QFrame:hover {
    border: 1px solid rgba(56, 189, 248, 220);
}
QLabel { 
    background-color: #f8fafc;
    border: 1px solid rgba(148, 163, 184, 140);
    border-radius: 8px;
    font: 450 10pt "Google Sans Code";
    color: #28282B;
}
QLabel:hover { 
    border: 1px solid rgba(56, 189, 248, 220);
}
QPushButton {
    background-color: #059669;
    color: #f8fafc;
    border-radius: 10px;
    padding: 10px 18px;
    font-weight: bold;
    border: 2px solid #047857; 
    border-bottom: 4px solid #065f46;
    outline: none;
}
QPushButton:hover {
    background-color: #10b981;
    color: white;
}
QPushButton:pressed {
    background-color: #047857;
    border: 2px solid #065f46;
    border-top: 4px solid #065f46;
    padding-top: 12px;
    padding-bottom: 8px;
}