QScrollBar:vertical {
    background: #e2e8f0;
    width: 10px;
    margin: 0px;
}
QScrollBar::handle:vertical {
    background: #94a3b8;
    min-height: 20px;
    border-radius: 4px;
}
QScrollBar::handle:vertical:hover {
    background: #64748b;
}
QScrollBar::add-line:vertical,
QScrollBar::sub-line:vertical {
    background: none;
}
QComboBox{
    color: #28282B;
    border: 1px solid #7a7a7cbc;
    border-radius: 9px;
    background-color:transparent;
}

QLabel#connectionStatus_homeTab{
    color: rgb(100, 116, 139);
    background-color:transparent;
}

QFrame#dragframe_homeTab{
    background-color:transparent;
}

QLabel#header_homeTab{
    color:qlineargradient(spread:pad, x1:0.5, y1:1, x2:0.488636, y2:0, stop:0 rgba(59, 130, 246, 255), stop:1 rgba(6, 182, 212, 255));
    background-color:transparent;
}

QFrame#line_homeTab{
    color:rgb(230, 230, 230);
    background-color:transparent;
}

QLabel#person_icon_homeTab{
    background-color:transparent;
}

QPushButton#powerButton{
    border-radius : 100; 
    background-color: qlineargradient(spread:pad, x1:0.462, y1:0, x2:0.473, y2:1, stop:0 rgba(107, 114, 128, 255), stop:1 rgba(210, 220, 236, 255))
}

QPushButton#powerButtonBase{
    border-radius : 100; 
    background-color: white
}

QPushButton#userCoinsCount_icon_homeTab{
    background-color:transparent;
}

QLabel#userCoinsCount_number_homeTab{
    color: #28282B;
    background-color:transparent;
}

QLabel#userUsername_homeTab{
    color: #28282B;
    background-color:transparent;
}