QFrame {
    background-color: #0f172a;
    border-radius: 12px;
    border: 1px solid rgba(94, 234, 212, 0.6);
    min-height:185px;
    color:white;
}

QFrame:hover{
    background-color: rgb(21, 34, 58);
    border: 1px solid rgba(59,130,246,220);
}

QLabel{
    min-height:65px;
    max-height:65px;
    color:white;
}

QLabel#myconfigs_frame_{safe_name}_servername{
    min-height:40px;
    max-height:40px;
    color:#38bdf8;
}

QPushButton#{connect_id} {
    background-color: #059669;
    color: #f8fafc;
    border-radius: 10px;
    padding: 10px 18px;
    font-weight: bold;
    border: 2px solid #047857;
    border-bottom: 4px solid #065f46;
    outline: none;
    min-width: 90px;
    max-height: 20px;
}
QPushButton#{connect_id}:hover {
    background-color: #10b981;
    color: white;
}
QPushButton#{connect_id}:pressed {
    background-color: #047857;
    border: 2px solid #065f46;
    border-top: 4px solid #065f46;
    padding-top: 12px;
    padding-bottom: 8px;
    color: white;
}
QPushButton#{share_id} {
    background-color: #3b82f6;
    color: #f8fafc;
    border-radius: 10px;
    padding: 10px 18px;
    font-weight: bold;
    border: 2px solid #2563eb;
    border-bottom: 4px solid #1d4ed8;
    outline: none;
    min-width: 90px;
    max-height: 20px;
}
QPushButton#{share_id}:hover {
    background-color: #60a5fa;
    color: white;
}
QPushButton#{share_id}:pressed {
    background-color: #2563eb;
    border: 2px solid #1d4ed8;
    border-top: 4px solid #1d4ed8;
    padding-top: 12px;
    padding-bottom: 8px;
    color: white;
}