#sideMenu {
    background-color: #28282B;
    border-radius: 14px;
    border: 1px solid rgba(143, 143, 143, 1);
}
#sideMenu QPushButton {
    background-color: transparent;
    color: rgb(226, 232, 240);
    padding: 8px 16px;
    text-align: left;
    border: none;
}
#sideMenu QPushButton:hover {
    background-color: rgba(73, 73, 73, 1);
}